@media (max-width: 576px) {
  #header .logo {
    padding: 22px 0px 10px 0px;
  }
  #header #reservation .card-text {
    gap: 10px;
  }
  #header #reservation .card-text h1.title-card {
    font-size: 30px;
  }
  main #composed-dish-day {
    width: 100%;
  }
  main .card-choice {
    width: 100%;
  }
  main #choices_restaurant {
    padding: 50px 15px;
  }
  main .cards {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  main .cards .card-dish {
    width: 100%;
  }
  main .title-section {
    width: 100%;
  }
  main #dishes {
    padding: 50px 15px;
  }
  main #dishes .title-section {
    width: 100%;
  }
  body footer {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding-left: 15px;
  }
  body footer svg {
    align-self: flex-start;
  }
  body #footer-menu {
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 100%;
  }
  body #proposition {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
  body #proposition li {
    gap: 5px;
  }
  body #apropos {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
}
@media (max-width: 991px) and (min-width: 576px) {
  main .card-choice {
    width: 100%;
  }
  main #choices_restaurant {
    padding: 80px;
  }
  main .cards {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  main .cards .card-dish {
    width: 100%;
  }
  main .title-section {
    width: 100%;
  }
  main #dishes {
    padding: 80px;
  }
  main #dishes .title-section {
    width: 100%;
  }
}
@media (max-width: 769px) {
  body footer {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding-left: 15px;
  }
  body footer svg {
    align-self: flex-start;
  }
}
.icon {
  font-family: "FontAwesome";
}

.location-map::before {
  content: "\f041";
}

<<<<<<< HEAD
<<<<<<< HEAD
.mask {
  transition: all mask 3s;
  animation-name: mask;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  background: black;
  opacity: 0.5;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 12px inset #F6F6F6;
  animation-name: loading;
  animation-duration: 0.3s;
  animation-iteration-count: 4;
  animation-fill-mode: forwards;
  border-radius: 100%;
  opacity: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loader img {
  width: 30px;
}

.loader .pizza {
  transform: scale(2.1);
}

.shadow {
  opacity: 0.3;
  transform: rotate(180deg);
}

.load {
  animation-name: load;
  animation-duration: 4s;
  display: flex;
  z-index: 4;
  animation-fill-mode: forwards;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
}

=======
#dish-img img {
=======
@media (max-width: 990px) {
  #header img {
    width: 100%;
  }
  #page {
    background-color: #F6F6F6;
  }
  #page #dish-choice {
    top: -80px;
    padding: 75px 20px;
  }
}
@media (max-width: 575px) {
  #page .card-dish:hover .checked-dish {
    padding: 15px 15px;
  }
}
#dish-choice {
>>>>>>> 7f27098 ([base-structure-page-plat] - add structure scss and html for page)
  width: 100%;
  background: #F6F6F6;
  position: relative;
  top: -387px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  max-width: 1440px;
  padding: 75px 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

#page .like {
  position: relative;
}
#page .btn-bg {
  width: 186px;
  text-align: center;
  margin: 0 auto;
}
#page .card-dish {
  display: flex;
  width: 100%;
}
#page .card-dish:hover .checked-dish {
  padding: 15px 30px;
}
#page .card-dish:hover .checked-dish::before {
  content: "\f058";
}
#page .cards {
  flex-direction: column;
  gap: 15px;
}

#title-section {
  display: flex;
  justify-content: space-between;
}
#title-section h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}

.description {
  font-weight: 300;
}

.price {
  font-weight: 700;
}

#header img {
  margin: 0 auto;
  max-width: 1440px;
}

.title-card h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
}
.title-card .underline {
  padding: 2px;
  width: 40px;
  display: block;
  background-color: #99E2D0;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 2617255 ([base-structure-page-plat] add layout for mobile 575 to 375 display)
=======
=======
>>>>>>> b90960c ([base-structure-page-plat] adapt layout for tablette 990 to 575)
@media (max-width: 991px) and (min-width: 575px) {
  #composed-dish-day {
    width: 100%;
    top: -80px;
    padding: 75px 50px 0px 50px;
  }
  #page {
    background: #F6F6F6;
  }
}
<<<<<<< HEAD
>>>>>>> b90960c ([base-structure-page-plat] adapt layout for tablette 990 to 575)
=======
>>>>>>> b90960c ([base-structure-page-plat] adapt layout for tablette 990 to 575)
=======

.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  gap: 5px;
}

.card-text {
  display: flex;
  justify-content: space-between;
}

.checked-dish {
  display: flex;
  background: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: "FontAwesome";
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
}

.checked-dish::before {
  color: white;
}

>>>>>>> 7f27098 ([base-structure-page-plat] - add structure scss and html for page)
body {
  font-family: "Roboto";
}

#header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#header .logo {
  padding: 22px 0px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  text-align: center;
}
#header .logo img {
  width: 197px;
}
#header .location {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 17px;
  background: #EAEAEA;
  padding: 15px 0px;
  z-index: 1;
}
#header #reservation {
  padding: 45px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  align-items: center;
  background: #F6F6F6;
}
#header #reservation .card-text {
  display: flex;
  text-align: center;
  flex-direction: column;
}
#header #reservation .card-text h1 {
  font-size: 40px;
}
#header #reservation .card-text p {
  font-weight: 300;
}

.btn {
  text-decoration: none;
  color: white;
  display: block;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  padding: 15px 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all ease-in-out 0.5s;
}

.btn-bg:hover {
  background: white;
  opacity: 0.5;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.btn-bg {
  transition: all ease-in-out 0.5s;
  border-radius: 25px;
}

.btn:hover {
  transform: scale(1.1);
}

.card-text {
  gap: 25px;
}

.card-choice {
  display: flex;
  justify-content: center;
  width: 30%;
  position: relative;
  background: #F6F6F6;
  border-radius: 20px;
  padding: 20px 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  gap: 15px;
}

.number {
  position: absolute;
  left: 0px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 14.18px;
}

.cards-choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
}

main {
  display: flex;
  flex-direction: column;
}

#choices_restaurant {
  display: flex;
  padding: 50px 80px;
  flex-direction: column;
  gap: 20px;
}

.icon {
  font-family: "Roboto", "FontAwesome";
  color: #7E7E7E;
}

.store {
  color: #9356DC;
}

.store::before {
  content: "\f54e";
}

.phone::before {
  content: "\f10b";
}

.list::before {
  content: "\f0ca";
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#dishes {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
  gap: 20px;
}
#dishes .cards {
  row-gap: 30px;
}

.card-dish {
  width: 46%;
  background: white;
  border-radius: 20px;
  position: relative;
}
.card-dish img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.new-dish {
  font-weight: 500;
  position: absolute;
  padding: 4px 10px;
  top: 20px;
  right: 20px;
  background: #99E2D0;
  font-size: 14px;
  color: #008766;
}

.like {
  font-family: "FontAwesome";
  position: absolute;
  width: 22px;
  right: 15px;
  font-weight: 300;
}

.like::before {
  font-size: 25px;
  content: "\f08a";
}

.card-content input[type=checkbox] {
  position: absolute;
  bottom: 40px;
  right: 17px;
  opacity: 0;
}

#liked-1:checked + label > .like::before {
  content: "\f004";
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#liked-2:checked + label > .like::before {
  content: "\f004";
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#liked-3:checked + label > .like::before {
  content: "\f004";
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#liked-4:checked + label > .like::before {
  content: "\f004";
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#liked-4:not(:checked) + label > .like::before {
  content: "\f08a";
  background: black;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 0.3s;
}

#liked-3:not(:checked) + label > .like::before {
  content: "\f08a";
  background: black;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 0.3s;
}

#liked-2:not(:checked) + label > .like::before {
  content: "\f08a";
  background: black;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 0.3s;
}

#liked-1:not(:checked) + label > .like::before {
  content: "\f08a";
  background: black;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 0.3s;
}

.card-content {
  padding: 20px;
  display: flex;
  position: relative;
}
.card-content .icon {
  color: black;
  align-self: center;
}

footer {
  background: #353535;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  position: relative;
  padding: 50px 25px 30px 25px;
  gap: 50px;
  font-weight: 500;
  color: white;
}
footer img {
  height: 27px;
}
footer a {
  text-decoration: none;
  color: white;
}

#proposition {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 700;
}
#proposition li {
  display: flex;
  gap: 15px;
}

#apropos {
  display: flex;
  align-items: center;
  gap: 12px;
}

.couvert::before {
  content: "\f0f5";
  color: white;
}

.couvert {
  color: white;
}

.partenaire::before {
  content: "\f4c4";
  color: white;
}

.partenaire {
  color: white;
}

#footer-menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
#footer-menu ul {
  list-style-type: none;
  text-decoration: none;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}