@media (max-width:576px) and (min-width: 475px){
    #composed-dish-day {
        top: -80px;
    }
}


@media (max-width: 475px) and (min-width: 375px){
    #composed-dish-day {
        top: -80px;
    }
}


@media (max-width: 375px){
    #composed-dish-day {
        top: -50px;
    }
}