@media (max-width: 575px){
   #header {
    .logo {
        padding:22px 0px 10px 0px;
    }
    #reservation {
        .card-text {
            gap:10px;
            h1.title-card {
                font-size: 30px;
            }
        }
     }
   }
   
}