@media (max-width: 991px) and (min-width: 576px){
    main {
        .card-choice {
            width: 100%;
        }
        #choices_restaurant {
            padding:80px;
        }
        .cards {
            width: 100%;
            flex-direction: column;
            gap: 20px;
    
          .card-dish {
            width: 100%;
          }
        }
        .title-section {
            width: 100%;
         }
         #dishes {
            padding: 80px;
            .title-section {
                width: 100%;
            }
         }
       }
}


@media (max-width: 769px){
    body {
        footer {
            width: 100%;
            flex-direction: column;
            gap:20px;
            align-items: start;
            padding-left: 15px;
            p.logo-footer {
                align-self: flex-start;
                width: 100%;
            }
            svg {
                align-self: flex-start;
            }

            #footer-menu {
                justify-content: flex-start;
            }
        }
    }
}