@media (max-width: 991px) and (min-width: 575px){
    #composed-dish-day {
        width: 100%;
        top: -80px;
        padding: 75px 50px 0px 50px;
    }
    #page {
         background: $grey-2;
    }
}