@import 'variables';
@import 'mobile';

@import 'icon';

body {
    font-family: 'Roboto';
}

#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    .logo{
        padding:22px 0px;
        position: relative;
        z-index: 2;
        box-shadow: 0px 2px 4px 0px #00000026;
        text-align: center;
        img {
            width: 197px;
        }
    }
    .location {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 17px;
        background: $grey-1;
        padding: 15px 0px;
        z-index: 1;
    }
    #reservation {
        padding: 45px 15px 45px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:35px;
        align-items: center;
        background: $grey-2;
        .card-text {
            display: flex;
            text-align: center;
            flex-direction: column;
            h1 {
               font-size: 40px;
            }
            p {
                font-weight: 300;
            }
        }

        a {
            text-decoration: none;
            color:white;
            display: block;
            border-radius:25px;
            background: linear-gradient(193.33deg, $primary -11.44%, $secondary 123.93%);
            padding: 15px 20px;
            box-shadow: 0px 4px 10px 0px #00000040;
            transition: all ease-in-out 0.5s;
        }

        .btn-bg:hover {
            background: white;
            opacity: 0.5;
            box-shadow: 0px 4px 10px 0px #00000040;
        }

        .btn-bg {
            transition: all ease-in-out 0.5s;
            border-radius:25px;
            
        }

        a:hover {
            transform: scale(1.1);
        }
    }
}


.card-text {
    gap:25px;
}

#main-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding:30px;
    max-width: 1440px;
    margin:0 auto;
}



img {
    width: 300px;
}

* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

