@media (max-width: 575px){
    #page {
        .card-dish:hover .checked-dish {
            padding: 15px 15px;
          }
         & .card-dish:hover .checked-dish {
              padding: 15px 15px;
        }
    }


    #header {
        & .logo p {
            font-size: 35px;
        }
        & .logo {
            .arrow::before {
                font-size: 35px;
            }
        }
    }
}