@media (max-width: 990px){
    #header img {
        width: 100%;
    }
    #page {
        background-color: $grey-2;
        #dish-choice {
            // top: -80px;
            padding: 75px 20px;
        }

    }
}